services:
  web:
    image: villa73-web
    container_name: villa73-web
    restart: unless-stopped
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
    ports:
      - 3000:3000
    networks:
      - homeapp73-docker_default
  api:
    image: villa73-api
    container_name: villa73-api
    restart: unless-stopped
    build:
      context: ./backend
      dockerfile: ./cmd/api/Dockerfile
    ports:
      - 6001:6001
    networks:
      - homeapp73-docker_default
  scheduler:
    image: villa73-scheduler
    container_name: villa73-scheduler
    restart: unless-stopped
    build:
      context: ./backend
      dockerfile: ./cmd/scheduler/Dockerfile
    ports:
      - 6002:6002
    networks:
      - homeapp73-docker_default
  dozzle:
    image: amir20/dozzle:v9.0
    container_name: villa73-dozzle
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8080:8080
    # environment:
      # Uncomment to enable container actions (stop, start, restart). See https://dozzle.dev/guide/actions
      # - DOZZLE_ENABLE_ACTIONS=true
      #
      # Uncomment to allow access to container shells. See https://dozzle.dev/guide/shell
      # - DOZZLE_ENABLE_SHELL=true
      #
      # Uncomment to enable authentication. See https://dozzle.dev/guide/authentication
      # - DOZZLE_AUTH_PROVIDER=simple

networks:
  homeapp73-docker_default:
    external: true
