.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:  rgb(0,0,0); 
  background-repeat: no-repeat;   
  background-size: cover;
  background-position: center center;
}
.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, transparent 66%, black 100%);
}
.bgChildren {
  margin: 20px 50px;
}