@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-body-color: #fff;
  --bs-body-bg: #000;
  --bs-modal-bg: rgb(0, 0, 0);
  --bs-modal-color: #fff;
}

body {
  color: white;
  font: 300 1em Ubuntu;
}

button {
  border: none;
  background-color: transparent;
}

h2 {
  font-size: 120%;
  color: rgb(206, 206, 206);
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 5px;
}

h3 {
  color: rgb(151, 151, 151);
  font-size: 0.9em;
  font-weight: normal;
  margin-top: 0;
}

input, select {
  background-color: rgba(24, 31, 52, 0.7);
  border: 1px solid rgba(151, 151, 151, 0.2);
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.box {
  background-color: rgba(24, 31, 52, 0.7);
  /*background-color: rgba(0,0,0,0.5);*/
  padding: 10px 20px 5px 20px;
  margin: 20px auto 5px auto;
  border-radius: 5px;
}

#weatherNow {
  position: relative;
  margin-top: 25px;
  min-width: 120px;
  text-align: center;
}

.temperatureNow {
  font-size: 400%;
  line-height: 1.2em;
  /* margin-top: 49px; */
}


#indoorContainer {
  position: relative;
  height: 140px;
}

#indoorContainer:before {
  content: "";
  position: absolute;
  width: 180px;
  height: 200px;
  opacity: .1;
  background: url("./assets/img/house.svg");
  background-repeat: no-repeat;
}

#indoor {
  position: absolute;
  top: 30px;
  left: 40px;
  cursor: pointer;
}

.alert {
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: red;
  color: white;
  height: 12px;
  line-height: 8px;
  font-size: 0.7em;
  width: 12px;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
}

.indoorTemp {
  font-size: 150%;
}

#balcony {
  position: absolute;
  top: 30px;
  left: 120px;
  cursor: pointer;
}

.balconyTemp {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7)
}

#cabinBookings {
  border-radius: 0px;
  color: #000000;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

h2.small {
  font-size: 15px;
  font-style: italic;
}

.bookingsUpdated {
  line-height: 1em;
  margin-top: 3px;
  color: rgba(151, 151, 151, 0.5);
  font-size: 0.7em;
}

.bookingsTable {
  display: inline-block;
  margin: 0 auto;
  background-color: rgba(120, 120, 120, 0.1);
  padding: 10px 5px 5px 5px;
}

.bookingWeekRow {
  display: grid;
  grid-template-columns: 14px 14px 14px 14px 14px 14px 14px 14px;
  column-gap: 4px;
  row-gap: 0px;
}

.bookingWeekRow.noWeek {
  grid-template-columns: 0px 14px 14px 14px 14px 14px 14px 14px;
}

.bookingBox {
  width: 14px;
  height: 14px;
  line-height: 10px;
  padding: 2px;
  margin: 2px;
  font-size: 9px;
  color: rgb(213, 213, 213);
  text-align: center;
}

.bookingBox.weekNumber {
  grid-column-start: 1;
  color: rgba(151, 128, 179, 0.9);
  font-weight: bold;
}

.bookingBox.day1 {
  grid-column-start: 2;
}

.bookingBox.day2 {
  grid-column-start: 3;
}

.bookingBox.day3 {
  grid-column-start: 4;
}

.bookingBox.day4 {
  grid-column-start: 5;
}

.bookingBox.day5 {
  grid-column-start: 6;
}

.bookingBox.day6 {
  grid-column-start: 7;
}

.bookingBox.day0 {
  grid-column-start: 8;
}

.bookingBox.booked {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(74, 1, 164, 0.9);
  font-weight: bold;
}

.bookingBox.updatedWithinWeek {
  box-shadow: 0 0 10px 2px rgb(255, 255, 255, 0.9);
}

.bookingBox.updatedWithin2Weeks {
  box-shadow: 0 0 5px 1px rgb(255, 255, 255, 0.5);
}

.dateUpdated {
  color: rgba(151, 151, 151, 0.5);
}

.outdated {
  color: #ff3e3e;
  font-weight: bold;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-header {
  background-color: rgba(15, 21, 36, 0.8);
  border-bottom-width: 0;
}

.modal-title {
  font-size: 120%;
  color: rgb(206, 206, 206);
  font-weight: lighter;
  margin-bottom: 0;
}

.modal-body {
  background-color: rgba(15, 21, 36, 0.8);
}

.close {
  font-weight: normal;
  color: white;
  opacity: 0.8;
  text-shadow: none;
}

.bookingsMonth {
  display: inline-block;
  vertical-align: top;
  margin: 3px 3px 3px 3px;
}

.bookingsMonthTitle {
  margin-bottom: 5px;
}

#forecast.box {
  padding-left: 0;
  padding-right: 0;
}

#forecast>h2,
#forecast>h3 {
  padding-left: 20px;
}

.forecastTable {
  width: 100%;
  border-collapse: collapse;
}

/* Style for day and night rows */
.forecastTable .night-row {
  background-color: rgba(0, 0, 0, 0.5);
}

.forecastTable .day-row {
  background-color: transparent;
}

/* Transition rows - when day/night status changes */
.forecastTable .night-row:first-of-type {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
}

.forecastTable .night-row+.day-row {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.forecastTable .day-row+.night-row {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

/* Day divider styling */
.forecastTable .dayDivider {
  background-color: rgba(0, 0, 0, 0.5);
}

.forecastTable .dayDivider td {
  height: 40px;
  padding-bottom: 0;
  padding-top: 20px;
}

.forecastTable .dayDivider td h3 {
  margin-bottom: 0;
}

.forecastTable td:first-child {
  padding-left: 20px;
}

.forecastTable td:last-child {
  padding-right: 20px;
}

.forecastTable td {
  padding: 1% 2% 1% 1%;
  width: 15%;
}

.forecastTable .time-col {
  padding-right: 10%;
  color: rgb(151, 151, 151);
  width: 15%;
}

.forecastTable .temperature-col {
  font-size: 1.5em;
}

.rainBox {
  height: 20px;
  background-color: rgba(0, 182, 255, 0.5);
  display: inline-block;
  overflow: hidden;
}


.recharts-text {
  color: rgb(151, 151, 151);
}

.wind-container {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  color: black;
  vertical-align: center;
}

.wind-text {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
}

.weatherTable td {
  padding-right: 10%;
  white-space: nowrap;
}

#calendardata h3 {
  font-size: 110%;
  color: #999999;
  text-transform: uppercase;
  margin-top: 20px;
}

.calendarBox {
  background-color: rgba(120, 120, 120, 0.1);
  border-left: solid 5px yellow;
  padding: 8px 8px 8px 8px;
  margin-bottom: 10px;
}

.lowPrio {
  border-color: rgba(255, 255, 0, 0.4);
  background-color: rgba(120, 120, 120, 0.05);
  color: rgba(255, 255, 255, 0.7);
}

.eventTitle {
  font-size: 110%;
  font-weight: 400;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.eventTime {
  font-size: 95%;
  color: #adadad;
  float: right;
}

.dot {
  margin-left: 15px;
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.elise {
  background-color: turquoise;
}

.elias {
  background-color: blue;
}

.ella {
  background-color: pink;
}

.aiti {
  background-color: red;
}

.iska {
  background-color: deepskyblue;
}

.time {
  font-size: 4em;
  line-height: 1em;
  margin-top: 5px;
  width: 100%
}

.date {
  padding-left: 5px;
  opacity: 0.7;
}

.solarBar {
  width: 80%;
  margin-left: 15px;
  margin-top: 10px;
  line-height: 15px;
}

.powerRow {
  width: 100;
  white-space: nowrap;
  border: solid 1px rgb(111, 241, 255, 0.8);
}

.powerNow {
  background-color: rgb(111, 241, 255, 0.8);
  display: block;
  height: 12px;
}

.powerW {
  margin-left: 5px;
  line-height: 12px;
  float: right;
  vertical-align: top;
  font-size: 8px;
  color: rgb(179, 245, 252);
}


/* Dialog styles */
.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: rgba(24, 31, 52, 0.8);
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  overflow-y: scroll;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  font-size: 15px;
  line-height: 1.5;
}

button[aria-label="Close"] {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
